 <%= form_for(@node) do |f| %>
<% if @node.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

  <ul>
    <% @node.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h1 class="node-header"> <%= f.text_field :title, {class: 'node-title'} %></h1>
<div class="field" style="text-align:left;">
<%= f.trix_editor :body, :class => "trix-content"%>
</div>

<% if params[:action] == 'edit' %>
  <div id="select_change_branch" style="margin-bottom: 8px;">
    Parent:
    <%= f.collection_select(:parent_id, Node.all, :id, :title, :include_blank => true) %>
  </div>
<% end %>

<%= f.hidden_field :wall_id %> 

<div class="actions">
  <%= f.submit 'Save', {class: 'btn-success btn'}%>
</div>
<% end %>



<style>
  trix-toolbar {
    text-align: center;
  }

</style>