<p id="notice"><%= notice %></p>

<h1> The place to think 😊</h1>


<ul class="tree" style="display: inline-block; width: auto; margin-top: 50px;">

      <% previous_level = 0 %>
      <% @nodes.walk_tree do |node, level| %>

        <% if level < previous_level %>
          <!-- Up a level -->
          <% (previous_level-level).times do %>
            </li></ul>
          <% end %>
        <% end %>

        <li> 
        <span style="min-width: 120px;"><%= link_to "#{node.title}", edit_node_path(node) %></span>

        <% unless node.body.nil? or node.body.empty? %>
         📦 
        <% end %>

        <% if node.children.any? %>
          <ul>
        <% else %>
          </li>
        <% end %>

        <% previous_level = level %>
      <% end %>

      <% previous_level.times do %>
        </li></ul>
      <% end %>

</ul>
<br>
<%= link_to '+ New Tree', new_node_path, {class: 'fav-button'} %>
<div style="position:fixed; bottom:10px; left:10px;">
  <%= link_to '+ New Wall', new_wall_path, {class: 'bottom-left-button'} %>
  <% if !@walls.blank? %>
    <% for wall in @walls %>
      <div style="float:left;"> &nbsp;| &nbsp;</div>
      <%= link_to wall.name, wall_path(wall), {class: 'bottom-left-button'} %>
    <% end %>
  <% end %>
</div>

